
<hibernate-configuration>
    <session-factory>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/leave_management
        </property>

        <property name="hibernate.connection.username">
            root
        </property>

        <property name="hibernate.connection.password">
            theertham@123
        </property>

        <!-- Hibernate Settings -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.show_sql">
            true
        </property>

        <property name="hibernate.format_sql">
            true
        </property>

        <!-- Mapped Entity -->
        <mapping class="Leave_Management_Project.project.Employee"/>
         <mapping class="Leave_Management_Project.project.LeaveRequest"/>
        

    </session-factory>
</hibernate-configuration>